#footer {
   display: flex;
   flex-direction: column;
   width: 100vw;
   height: 60%;
   position: relative;
   background-color: var(--color-bg);
   /* border-top: 3px solid var(--color-orange); */
}

.contact-title {
   z-index: 1;
   position: absolute;
   top: 0%;
   left: 8%;
   font-size: 75px;
   font-weight: bolder;
}

.contact-container {
   display: flex;
   width: 100%;
   height: 100%;

}

.contact-form {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

form {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 12px 20px;
   align-items: center;
   gap: 10px;
}

form h3 {
   color: white;
   font-family: 'Outfit', sans-serif;
   font-weight: 400;
   width: 70%;
}

.name-email {
   display: flex;
   gap: 10px;
   width: 70%;
}

.text-box {
   width: 70%;
   padding: 10px 13px;
   font-size: 17px;
   color: white;
   border: 0;
   background: rgba(255, 255, 255, 0.3);
}

.text-box::placeholder {
   color: rgb(255, 255, 255);
   font-family: 'Outfit', sans-serif;
}

.message {
   display: flex;
   width: 100%;
   justify-content: center;
}

textarea {
   resize: none;
   width: 70%;
   padding: 10px;
   border: 0;
   background: rgba(255, 255, 255, 0.3);
   font-family: 'Outfit', sans-serif;
   font-size: 15px;
   color: white;
}

textarea::placeholder {
   color: rgb(255, 255, 255);
   font-size: 15px;
}

.submit-btn {
   display: flex;
   justify-content: center;
   width: 100%;
}

.send-btn {
   display: flex;
   padding: 8px 10px;
   width: 18%;
   justify-content: center;
   font-size: 17px;
   background: rgb(255, 255, 255, .8);
   border: 0;
   border-radius: 3px;
   cursor: pointer;
}

.social-media {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 95%;
   justify-content: center;
   align-items: center;
}

.contact-text {
   color: rgb(163, 163, 163);
   text-align: center;
   font-size: 25px;
   width: 80%;
}

.contact-follow {
   color: aliceblue;
   text-align: center;
   font-size: 30px;
   font-family: 'Rochester', cursive;
   padding-top: 80px;
}

.contact-socials a {
   display: flex;
   align-items: center;
   border: 2px solid #e74432;
   border-radius: 50px;
   color: #f6f8e0;
   display: inline-flex;
   font-size: 22px;
   height: 45px;
   width: 45px;
   margin: 0 6px;
   padding: 15px;
   justify-content: center;
   background: var(--color-bg);
   transition: var(--transition);

}

.contact-socials a:hover {
   background: var(--color-orange);
}

.contact-socials {
   z-index: 2;
}