#home {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

/* LEFT SIDE */

.home-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 93%;
    justify-content: center;
    text-align: left;
    gap: 3px;
    padding-left: 100px;
    line-height: normal;
}

.home-left h3 {
    font-size: 35px;
    font-weight: lighter;
    letter-spacing: 0.5px;
}

.home-name {
    color: var(--color-orange);
    font-size: 75px;
    font-weight: bold;
    text-indent: -2px;
    letter-spacing: -2px;
}

/* BUTTONS */
.btn-space {
    display: flex;
    padding-top: 10px;
    gap: 20px;
}

.btn {
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid var(--color-cream);
    transition: var(--transition);
}

.btn-resume {
    background: transparent;
    color: var(--color-cream);
}

.btn-contact {
    background: var(--color-cream);
}

.btn-contact a {
    color: var(--color-bg);
}

.btn:hover {
    border: 1px solid var(--color-orange);
    background: var(--color-orange);
    color: var(--color-cream);
}

.btn:hover a {
    color: var(--color-cream);
}

/* RIGHT SIDE */
.home-right {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: bold;
}

/* MEDIA QUERIES */