#home {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.home-text {
    width: 100%;
    height: 87%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 3px;
    padding-left: 100px;
    line-height: normal;
}

.home-text h3 {
    font-weight: lighter;
    font-size: 35px;
    letter-spacing: 0.5px;
}

.home-name {
    color: #ef4432;
    font-size: 70px;
    font-weight: bold;
    text-indent: -2px;
    letter-spacing: -2px;
    padding: 0 !important;
    margin: 0 !important;
}

.home-img {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: bold;
    color: #f6f8e0;
}

.home-img img {
    max-width: 50vw;
    max-height: 80vh;
}

.btn {
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-resume {
    border: 1px solid #f8f8f8;
    background: transparent;
    color: #ffffff;
    box-sizing: border-box;
}

.btn-contact {
    box-sizing: border-box;
    border: 1px solid #f8f8f8;
}

.btn-contact a {
    color: black;
}

.btn-space {
    display: flex;
    padding-top: 10px;
    gap: 20px;
}
