.circle {
    background: transparent;
    border: 3px solid #e74432;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    z-index: 5;
    position: absolute;
}

.circle-home {
    left: 95%;
    top: 50%;
}

.circle-about {

}

.circle-projects {

}

.circle-designs {

}

.circle-contact {
    
}