* {
    padding: 0;
    margin: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(178, 232, 239);
    border-radius: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    background: #191514;
    color: #f8f8f8;
    overflow-x: hidden;
}

section {
    height: 100%;
    padding-top: 50px;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: center;
    /* background: rgba(0, 0, 0, 1); */
    color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 1;
    transition: background-color 0.4s ease-in-out;
}

/* nav.scrolled {
    background: black;
    opacity: 0.98;
    position: fixed;
} */

.nav-container {
    width: 96%;
    display: flex;
    justify-content: space-between;
    padding: 18px 0px;
}

.pages {
    font-size: 21px;
    font-weight: lighter;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 0.4s ease-in-out;
}

nav.scrolled a {
    color: rgb(255, 255, 255);
}

main {
    position: absolute;
    top: 0px;
    bottom: 0;
}

.logo {
    height: 30px;
    width: 50px;
    object-fit: contain;
    
}