/* UNIVERSAL CSS PROPERTIES */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #191514;
    --color-orange: #E74432;
    --color-cream: #F6F8E0;
    --color-white: #F8F8F8;

    --transition: all 300ms ease-in-out;

    --container-width-lg: 80%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #971708;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-orange);
}

/* HOME CSS */
html {
    scroll-behavior: smooth;
    font-size: 12px;
}

body {
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    background: var(--color-bg);
    color: var(--color-cream);
    overflow-x: hidden;
}

.background {
    position: absolute;
    top: -200px;
    z-index: -10;
    background-image: url(/gallery/5000WebfolioPattern-01.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.4;
    width: 100vw;
    height: 450vh;
}


section {
    position: relative;
    height: 100%;
    padding-top: 50px;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100vw;
    justify-content: center;
    color: var(--color-white);
    transition: background-color 0.4s ease-in-out;
}

nav.scrolled {
    position: fixed;
    background: rgba(25, 21, 20, 0.8);
}

.nav-container {
    display: flex;
    width: 96%;
    justify-content: space-between;
    padding: 7px 0px;
}

.pages {
    display: flex;
    gap: 30px;
    font-size: 21px;
    font-weight: lighter;
}

nav a {
    text-decoration: none;
    color: var(--color-white);
    transition: var(--transition);
}

nav a:hover {
    color: var(--color-cream);
}

.logo {
    height: 30px;
    width: 50px;
    object-fit: cover;
}

main {
    position: absolute;
    top: 0;
    bottom: 0;
}
